<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小白社区</title>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="application/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  >
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"  >
    <link rel="stylesheet" href="/css/community.css"  >
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

<div th:insert="navigation::copy"></div>
<!--以上是导航栏-->
<div class="container-fluid bodymain">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h3 th:text="${question.title}">&nbsp</h3>
            <span style="font-size: 12px;font-weight: normal;color: #999">作者:[[${question.user.name}]] | 发布时间:<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span> | 阅读数:[[${question.viewCount}]]</span>
            <hr >
            <p th:text="${question.description}"></p>
            <hr >
            <a th:if="${session.user != null && session.user.id == question.creator}" th:href="@{'/publish/'+${question.id}}" style="font-size: 12px;font-weight: normal;color: #999"><span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                编辑
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="img-circle headimg" src="" alt="..."  th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 align="" class="media-heading" th:text="${question.user.name}"></h4>
                </div>
            </div>
            <hr>
            <h4>相关问题</h4>
        </div>
    </div>
</div>

</body>
</html>